extends layout

block content
  h2 Indie Apps

  h3
    a(href="https://itunes.apple.com/au/app/fineants-savings-tracker/id888444078?mt=8") Fineants - Saving Tracker | iOS
    :markdown
      _"Save money litte by little, like ants do."_ Fineants is the personal saving tracker that helps you reach your saving goals one step at a time.

  h3
    a(href="https://itunes.apple.com/us/app/gradient-backgrounds-studio/id815508757?mt=8") Gradient Backrounds Studio | iOS
    :markdown
      Enhance your pictures by adding a wonderful grading layer, and make gorgeous backgrounds.

  h3
    a(href="https://play.google.com/store/apps/details?id=com.risingbits.engineergio.savingstracker&hl=en") My Savings Tracker | Android
    :markdown
      _"My Savings Tracker helps you keep visually track of your savings!"_ Set a saving goal, log the money saved, and keep alway track of your progress with the home screen widget.
