extends layout

block content
  #who
    :markdown
      I'm a software developer keen on clean code and TDD.  
      Currently focused on **iOS**, I enjoy **Ruby** and **Node.js** as well, and I'm looking into **Clojure**.

  #work
    :markdown
      I take care of the [BIZZBY app](https://itunes.apple.com/gb/app/bizzby-on-demand-services/id659352778), previously [CatAcademy by Memrise](https://itunes.apple.com/gb/app/cat-spanish-by-catacademy/id690453731?mt=8) and [Kunerango](https://kunerango.com).
  
  #spare-time
    :markdown
      I have a couple of [indie apps](/apps), love [open source](/open-source), and [blog](http://mokacoding.com) every now and then.

  #contacts
    a(href="https://github.com/mokagio")
      i.icon-github
    a(href="https://twitter.com/mokagio")
      i.icon-twitter
    a(href="https://instagram.com/mokagio")
      i.icon-instagram 
    a(href="http://www.linkedin.com/in/giovannilodi")
      i.icon-linkedin
    a(href="mailto:giovanni.lodi42@gmail.com")
      i.icon-envelope
