extends layout

block content
  div.info-block
    div.info-image
      img#face_boring(src="/images/gio_c.png")
      img#face_hacked(src="/images/mokagio_c.png")
    div.info-content
      h1 Giovanni Lodi
      h3 Sofware Engineer

  div.info-block
    div.info-image
      i image here
    div.info-content
      h2 Tech
      div.tech-entry.
        iOS &amp Objective-C * * * * *
      div.tech-entry.
        Ruby &amp Ruby on Rails * * * * .
      div.tech-entry.
        Javascript &amp Node.js * * * . .

  div.info-block
    div.info-image
      i image here
    div.info-content
      h2 About
      ul
        li Software Engineer, recently focused on iOS developmen
        li Making language learning awesome at CatAcademy by Memrise
        li Blogging on mokacoding.com
        li Eating, swimming, and reading books in my spare time
        li more...

  div.info-block
    div.info-image
      i image here
    div.info-content
      h2 Contact
      ul
        li giovanni.lodi42@gmail.com
        li @mokagio
        li LikedIn
        li github
        li instagram
        li more...

  != js('layout_switch')