doctype 5
html
  head
    title= title
    != css('style')
    != js('vendor/jquery/jquery.min.js')
    link(rel="shortcut icon", type="image/x-icon", href="https://raw.github.com/mokagio/giovannilodi.com/master/public/images/favicon_moka.ico")
  body
    block content