extends layout

block content
  .open-source
    h2 Open Source Projects

    h3 Personal Projects
    :markdown
      * [Stencils](https://github.com/mokagio/Stencils) seamless integration of web fonts in iOS apps.
      * [UICollectionViewLeftAlignedLayout](https://github.com/mokagio/UICollectionViewLeftAlignedLayout) and [UICollectionViewRightlignedLayout](https://github.com/mokagio/UICollectionViewLeftAlignedLayout) `UICollectionView` layout classes to align cells to the left or to the right.
      * [UIColor+FlatColors](https://github.com/mokagio/UIColor+FlatColors) and [UIColor+CSSColors](https://github.com/mokagio/UIColor+CSSColors) unlock a wider set of colors for the UI of your iOS apps.
      * [dean](https://github.com/Bizzby/dean) opinionated CLI tool to automate some mundane task of the everyday iOS and Mac development.
      * [xcsnippet](https://github.com/mokagio/xcsnippet) easy way to manage Xcode snippets across multiple machines. WIP.

    h3 Contributions
    :markdown
      * [liftoff](https://github.com/thoughtbot/liftoff)
      * [xctool](https://github.com/facebook/xctool)
      * [bootstrap](https://github.com/twbs/bootstrap)