
@import 'nib/vendor'

@import '../javascripts/vendor/font-awesome/css/font-awesome.css'
// override font location
@font-face
  font-family: 'FontAwesome'
  location = '../javascripts/vendor/font-awesome/font'
  src: url(location + '/fontawesome-webfont.eot?v=3.2.1')
  src: url(location + '/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url(location + '/fontawesome-webfont.woff?v=3.2.1') format('woff'), url(location + '/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url(location + '/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg')
  font-weight: normal
  font-style: normal

sublime_black = rgb(39, 40, 34)

// Boring style
body
  padding: 60px 50px 50px 100px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #34495E
  background: white

.info-block
  margin-bottom: 20px

  .info-image
    box_width = 100px

    display: inline-block
    width: box_width
    margin-right: 16px
    vertical-align: top

    img
      width: box_width

  .info-content
    display: inline-block

    ul
      list-style-type: none
      padding: 0

  // This is to have the face images overlapped for the fade transition
  position: relative
  #face_boring, 
  #face_hacked
    position: absolute
    top: 0
    left: 0


// Lights off style
body.lights-off
  color: sublime_black
  background: sublime_black
  transition(all, 1s, ease-in-out)


// Hakced style
body.hacked
  font: 14px Monaco, monospace;
  color: white
  background: sublime_black
  transition(all, 1s, ease-in-out)

#face_hacked
  display: none