
@import 'nib/vendor'

sublime_black = rgb(39, 40, 34)

// Boring style
body
  padding: 60px 50px 50px 100px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #34495E
  background: white

.info-block
  margin-bottom: 20px

  .info-image
    box_width = 100px

    display: inline-block
    width: box_width
    margin-right: 16px
    vertical-align: top

    img
      width: box_width

  .info-content
    display: inline-block

    ul
      list-style-type: none
      padding: 0


// Lights off style
body.lights-off
  color: sublime_black
  background: sublime_black
  transition(all, 0.3s, ease-in-out)


// Hakced style
body.hacked
  font: 14px Monaco, monospace;
  color: white
  background: sublime_black
  transition(all, 0.3s, ease-in-out)

#face_hacked
  display: none