
@import 'nib/vendor'

@import '../javascripts/vendor/font-awesome/css/font-awesome.css'
// override font location
@font-face
  font-family: 'FontAwesomeMoka'
  location = 'https://github.com/FortAwesome/Font-Awesome/raw/b1a8ad47303509e70e56079396fad2afadfd96d5/font'
  src: url(location + '/fontawesome-webfont.eot?v=3.2.1')
  src: url(location + '/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), 
    url(location + '/fontawesome-webfont.woff?v=3.2.1') format('woff'), 
    url(location + '/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), 
    url(location + '/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: FontAwesomeMoka

sublime_black = rgb(39, 40, 34)
sublime_green = rgb(166, 226, 42)
sublime_pruple = rgb(151, 129, 255)

green_sea = #16A085
emerald = #2ECC71

// Boring style
body
  padding: 60px 50px 50px 100px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #34495E
  background: white

  a, a:hover
    text-decoration: none
  a
    color: green_sea
  a:hover
    color: emerald

.info-block
  margin-bottom: 20px

  image_side = 100px
  .info-image
    display: inline-block
    width: image_side
    margin-right: 16px
    vertical-align: top

    img
      width: image_side

  .info-content
    display: inline-block
    margin-left: 20px

    h1
      h1_size = 40px
      h1_line_height = 1.2
      font-size: h1_size
      line-height: h1_line_height
      margin-top: (image_side / 2) - ((h1_size * h1_line_height) / 2)

      span.subtitle
        font-size: (h1_size / 2)

    h2, h3, h4
      margin-top: 6px

    ul
      list-style-type: none
      padding: 0
      margin-bottom: 0

  // This is to have the face images overlapped for the fade transition
  position: relative
  #face_boring, 
  #face_hacked
    position: absolute
    top: 0
    left: 0


// Lights off style
body.lights-off
  color: sublime_black
  background: sublime_black
  a, a:hover
    color: sublime_black
body.lights-off,
body.lights-off a
  transition(all, 1s, ease-in-out)


// Hakced style
body.hacked
  font: 14px Monaco, monospace;
  color: white
  background: sublime_black
  
  a
    color: sublime_green

  ul
    margin-left: 20px

body.hacked,
body.hacked a
  transition(all, 1s, ease-in-out)

#face_hacked
  display: none